.projectBox {
    text-align: center;
    padding: 0.2em;
    margin: 0.5em;
    width: 25em;

    background-color: silver;
    border-radius: 6px;
}

a.project {
    text-decoration: none;
    color: inherit;
}

.projectImg {
    width:70%;
    height: auto;
    max-height: 70%;
}

.boxHolder { /* Give the projects as much room as possible */
    align-self: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.projectViewMain {
    margin: 0%;
    margin-bottom: 5%;
}