.projectBox {
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    width: 25em;
    height: 17em;
    background-color: silver;
    border-radius: 6px;
}

.projectImg {
    width:25%;
    height: auto;
    max-height: 70%;
}

.boxHolder { /* Give the projects as much room as possible */
    align-self: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}