/* Sheet contains CSS that is used through the entire website */

/* Phones */
@media only screen and (max-width: 768px) {
    * {
        font-family: "Arial";
        padding-left: 0em;
        padding-right: 0em;
    }
}

/* Non phone */
@media only screen and (min-width: 768px) {
    * {
        font-family: "Arial";
        padding-left: 1em;
        padding-right: 1em;
    }
}

body{
    padding: 0;
    margin: 0;
}

.header {
    /* Placement */
    margin-top: 0%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0px 0px 6px 6px;

    /* Content */
    align-content: center;
    text-align: left;
    background-color: silver;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Navigation bar */
.navBar {
    background-color: #c9c8c7;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.navBarItem {
    display: inline-block;
    padding: 0.25em;
    margin: 0%;
    font-size: 1.5em;
}
.navBarItem:hover {
    background-color: #a6a6a6;
}
.navBarSelected {
    background-color: #a6a6a6;
}
