.trainImg {
    width: 80%;
    height: auto;
}

.contentBox {
    text-align: justify;
    padding: 1em;
    margin: 0.5em;
    width: 45%;
    background-color: silver;
    border-radius: 6px;
}

.contentHolder {
    align-self: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}