@page "/contact"
@using Microsoft.AspNetCore.Components.Forms
@using PersonalSite_Replacement.Component
@using System.ComponentModel.DataAnnotations

<PageTitle>Bailey-Tyreese Dawson - Contact</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
	<link href="css/Contact.css" rel="stylesheet">
</HeadContent>

<Header currentPage="contact" />

<EditForm Model="ContactForm" OnValidSubmit="Submit" class="contactForm">
    <p>To get in contact with me please fill out the contact form below</p>
    <p><span>@output</span></p>
    <InputText class="BasicInput" @bind-Value="ContactForm!.Name" placeholder="Name..."/><br />
    <InputText class="BasicInput" @bind-Value="ContactForm!.Email" placeholder="Email..." /><br />
    <textarea class="ComplexInput" @bind="ContactForm!.Message" placeholder="Message..."> </textarea><br />
    <button type="submit">Submit</button>
</EditForm>

<Footer />

@code {
    private SQL_Connection sql = new(DB_DETAILS.db_server, DB_DETAILS.db_user, DB_DETAILS.db_password, "personal");

    public FormInput ContactForm { get; set; } = new();
    public string output { get; set; } = "";

    private void Submit()
    {
        Int32 unixTimestamp = (Int32)(DateTime.Now.Subtract(new
        DateTime(1970, 1, 1))).TotalSeconds;

        if (sql.RunQuery("INSERT INTO `ContactForm`(`Name`, `Email`, `Message`, `Viewed`, `TimeStamp`) VALUES ('" + ContactForm.Name
        + "', '" + ContactForm.Email + "', '" + ContactForm.Message + "', '0', '" + unixTimestamp + "')"))
        {
            output = "Thank you for submitting a request";
            ContactForm.Name = "";
            ContactForm.Email = "";
            ContactForm.Message = "";
        }
        else
        {
            output = "An error has occurred, please try again later.";
            Console.WriteLine("Error = Failed to insert into database");
            FileLogger.WriteLine("Error - Contact = Could not insert into database");
        }
    }

    public class FormInput
    {
        [Required]
        public string? Name { get; set; }
        [Required]
        public string? Email { get; set; }
        [Required]
        public string? Message { get; set; }
    }
}