@page "/"
@using PersonalSite_Replacement.Component

<PageTitle>Bailey-Tyreese Dawson - Index</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
</HeadContent>
<Header currentPage="Index" />

<div class="IndexContent">
	<p>Welcome to my personal website. On here you can find a list of projects I have work on in my own time (and finished), general information about me, a blog which will contain
		anything that I happen to find interesting. <br/>
		There is also information about my twitch on which I occasionally stream and about the game I have been working on, InfiniHorde.<br />
		I also create sites for people, if you are interested by this please look at my booking page, I can write them in PHP and C#. This site used to be in PHP but I have rewritten it all in C#.
		To view the old PHP code for this site you can look in Projects and look at the original site project.
	</p>
</div>

<Footer />