@page "/"

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
</HeadContent>

<div class="header">
	<h1>Bailey-Tyreese Dawson</h1>
</div>
<div class="navBar">
	<div class="navBarItem navBarSelected">Home</div>
	<div class="navBarItem">Projects</div>
	<div class="navBarItem">Contact</div>
</div>

<div class="IndexContent">


</div>
