@page "/"
@using PersonalSite_Replacement.Component

<PageTitle>Bailey-Tyreese Dawson - Index</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
</HeadContent>
<Header currentPage="Index" />

<div class="IndexContent">
	<p>Welcome to my personal website. On here you can find a list of projects I have work on in my own time (and finished), general information about me, a blog which will contain
		anything that I happen to find interesting. <br/>
		There is also information about my twitch on which I occasionally stream and about the game I have been working on, InfiniHorde.<br />
		I also create sites for people, if you are interested by this please look at my booking page, I can write them in PHP and C#. This site used to be in PHP but I have rewritten it all in C#.
		To view the old PHP code for this site you can look in Projects and look at the original site project.
	</p>
	<p>
		For some information about me, I'm Bailey-Tyreese Dawson (or just bailey). I work in embedded software right now. I am quite into trains, to the point 
		this website has a page dedicated to them. I also play video games, I enjoy playing simulator games and city builders, though I also play co-op games
		with friends and the like. I am also engaged if you are intrested. 
	</p>
	<p>
		If you have anything you think I should try making or just want to chat about something, please do let me know on the contact page. Please do not 
		email me directly, I will probably ignore it as I get a ludicous amount of spam, including on the email I have from this website (even though I have never
		signed up to anything using it)
	</p>
</div>

<Footer />