@page "/infiniHorde"
@using PersonalSite_Replacement.Component

<PageTitle>Bailey-Tyreese Dawson - InfiniHorde</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
</HeadContent>

<Header currentPage="infini_horde" />

	<p>
		InfiniHorde is a game I have developing for a while. Its a arcade style wave shooter.<br />
		The aim of the game is to get the highest score possible, but the catch if your points are used to buy upgrades and better weapons during the rounds.
	</p>
	
	<p>I will post a few screenshots below of the next version.</p>

<Footer /> 
@code {

}
