<div class="projectBox">
    <h3>@Name</h3>
    <p>Language: @Lang</p>
    <img class="projectImg" src="@Image" />
</div>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Lang { get; set; }
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string ID { get; set; }
}
