@page "/trains"
@using PersonalSite_Replacement.Component


<PageTitle>Bailey-Tyreese Dawson - Projects</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
    <link href="css/trains.css" rel="stylesheet">
</HeadContent>
<Header currentPage="Trains" />

    <p>
        As you can probably guess from the fact this is its own page, I am slightly obessed with trains. I will put things here that I find intresting, or just my opinion about trains in general.
    </p>
<div class="contentHolder">
    <div class="contentBox">
        <h3>My favourite class</h3>
        <p>
            I would say it depends on what you mean, whether you mean like a modern train which you can still see on the rail, or an old train which you willnot see on the rail anymore<br /> 
            If we are talking about a modern train which could still be seen on the rail, I would say a TransPenine class 185.Its not the faster train on the rail in world, or even in the UK but I do have fond memories of this trains. This is the train that I took on holiday as a kid, we'd go the Yorkshire coast on one. I still occasionally get on one today, but never very often anymore (I don't take the train to the coastanymore, the bus is a lot cheaper in comparison). <br />
            <img src="img/trains/class185.jpg" class="trainImg"> <br /> 
            If we talking trains which can no longer be found on the rail today, I'd say my favourite is a class 31. Mainly because they were used for such a long time, the last one been taken out of service in 2017, when they were built between 1957 and 1962.Another fun fact about class 31s is that one was used in top gear for level crossing safety, one of them was pushed to 80 mph by another before the one pushing slowed down to stop and allowed the other to crash into a car at a level crossing. <br />
            <img src="img/trains/class31.jpeg" class="trainImg">
        </p>
    </div>

    <div class="contentBox">
        Lorum ipsum
    </div>
</div>
<Footer />