@page "/trains"
@using PersonalSite_Replacement.Component


<PageTitle>Bailey-Tyreese Dawson - Trains</PageTitle>

<HeadContent>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/shared.css" rel="stylesheet">
    <link href="css/trains.css" rel="stylesheet">
</HeadContent>
<Header currentPage="Trains" />

    <p>
        As you can probably guess from the fact this is its own page, I am slightly obsessed with trains. I will put things here that I find interesting, or just my opinion about trains in general. over time I will add more content to this as I think of more stuff I want to have here, or find more cool facts.
    </p>
<div class="contentHolder">
    <div class="contentBox">
        <h3>My favourite class</h3>
        <p>
            I would say it depends on what you mean, whether you mean like a modern train which you can still see on the rail, or an old train which you will not see on the rail anymore<br /> 
            If we are talking about a modern train which could still be seen on the rail, I would say a TransPenine class 185.Its not the faster train on the rail in world, or even in the UK but I do have fond memories of this trains. This is the train that I took on holiday as a kid, we'd go the Yorkshire coast on one. I still occasionally get on one today, but never very often anymore (I don't take the train to the coast anymore, the bus is a lot cheaper in comparison). <br />
            <img src="img/trains/class185.jpg" class="trainImg"> <br /> 
            If we talking trains which can no longer be found on the rail today, I'd say my favourite is a class 31. Mainly because they were used for such a long time, the last one been taken out of service in 2017, when they were built between 1957 and 1962.Another fun fact about class 31s is that one was used in top gear for level crossing safety, one of them was pushed to 80 mph by another before the one pushing slowed down to stop and allowed the other to crash into a car at a level crossing. <br />
            <img src="img/trains/class31.jpeg" class="trainImg">
        </p>
    </div>

    <div class="contentBox">
        <h3>Why do I like trains?</h3>
        <p>
            This is a very hard question to answer, I have liked trains for as long as I can remember. When I was young I loved Thomas the Tank Engine and as I got older I wanted to be a train driver. I'd say the biggest thing that got me obsessed was the railway museum in York, we would visit it quite often when I growing. I also find the fact that these huge incredibly complicated machines with slippery steel wheels on slippery steel track can move fascinating. Trains are also very good for the environment, they produce a tiny amount of C02 compared to cars, buses and trucks. Its weird that a thing that you wouldn't think could move with how heavy they are (and as I said before how slippery the tracks and wheels are) can be so efficient for moving large amounts of things, to the point that governments around the world are back tracking and building/re-opening train lines all over the place.<br />
            There is also a lot of nostalgia in trains for me, growing up my parents didn't drive and in fact still don't today, so they heavily relied on public transport to get around. With the fastest (and at the time, normally the cheapest) way to travel without a car.  They always told me that it was so much cheaper its why we could go on 2 holidays a year. The way we got everywhere was on the train. <br />
            I am still learning to drive while I write this(March 2024), many people tell me I should get a car as it would save me so much time, but the time spent on the train doesn't bother me. Probably partly because I became so used it, but also because I just like trains. People tell me my life will be easier with a car, but how could a thing that will cost me 4 times as much (I did calculate it using some back of the napkin maths) make my life easier, it would just re shape the way I think about and spend money to keep the car running. Now I don't need to worry about having money to buy petrol or new tyres, just at the start of the month buy a monthly bus ticket and any trains I know I will need, then I can get where I need to go without worry.
        </p>
    </div>
</div>
<Footer />