<footer>
	<div class="footerCol">
		<a href="https://www.linkedin.com/in/bailey-tyreese-dawson-50a67b195/">LinkedIn</a><br />
		<a href="mailto:baileydawson@baileydawson.uk">Email</a><br />
		<a href="https://github.com/dawson270500">GitHub</a>
	</div>
	<div class="footerCol">
		<a href="https://www.twitch.tv/dawsonthepagan">Twitch</a><br />
		<a href="https://gx.games/games/o24sf6/infinihorde">InfiniHorde Alpha</a><br />
		<a href="https://discord.gg/z97A8Hkrzr">Discord</a>
	</div>
</footer>