@{
    if (Name == null || Lang == null || Image == null || ID == null)
    {
        Name = "ERROR";
        Lang = "ERROR";
        Image = "ERROR";
        ID = "ERROR";
        FileLogger.WriteLine("Error = Values are null in project box, project box");
        Console.WriteLine("Error = Values are null in project box");
        <Error text="Error = Values are null in project box" />
    }
}
<div class="projectBox projectBoxFloat">
    <h3>@Name</h3>
    <p>Language: @Lang</p>
    <img class="projectImg" src="@Image" />
</div>

@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Lang { get; set; }
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? ID { get; set; }
}
